@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialRecords

<div class="col-4 p-3">
    <form id="@Model.BurialId" asp-action="DataDisplay" method="post">
        <p>
            Coordinates: @Model.LowPairNs @Model.BurialLocationNs by @Model.LowPairEw @Model.BurialLocationEw at burial number
            @Model.BurialNumber, @Model.BurialSubplot
        </p>
        <p>Burial Id: @Model.BurialId</p>
        <input hidden="hidden" asp-for="@Model.BurialId" />
        <button type="submit" class="btn btn-success btn-primary">
            See More About This Find
        </button>
    </form>
</div>