@model FagElGamous.Models.Cranial

@{
    ViewData["Title"] = "Details";
    Layout = "Confirmation";
}

<h1>Details</h1>

<div>
    <h4>Cranial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionBregmaHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionBregmaHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionNasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionNasion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionProsthionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionProsthionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BizygomaticDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasionProsthion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasionProsthion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterorbitalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupraorbitalRidges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupraorbitalRidges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrbitEdge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrbitEdge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalBossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalBossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gonian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gonian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuchalCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuchalCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZygomaticCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZygomaticCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CranialSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CranialSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasilarSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasilarSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForemanMagnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForemanMagnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothAttrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothEruption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothEruption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostcraniaTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CribraOrbitala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CribraOrbitala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosisLocations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosisLocations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetopicSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetopicSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButtonOsteoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButtonOsteoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalMandibularJointOsteoarthritisTmjoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalMandibularJointOsteoarthritisTmjoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinearHypoplasiaEnamel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burial.BurialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entry.EntryId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
